body { 
    height: 100vh;
    background-color: red;
    margin:0px;
    display:flex;
}


.left-container{
    background-color: green;
    width: 40%;
    height: 100%;

}

.right-container{
    background-color: blue;
    width:60%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    border:1px solid black;
    background-color: white;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container{
    background-color: wheat;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container > h1{
    align-self: flex-start;
    margin-left:40px;
}

.row{
    
    background-color: green;
    padding:20px;
    width:95%
    
}

.row> label{
    margin:20px;
}

.row > input {
    width:25%
}

.password-pop, .confirmed-password-pop{
    background-color: red;
    width: 20%;
}